In [1]:
%load_ext autoreload
%autoreload 2
# %debug magic

import os
import time
import subprocess
import gc
import numpy as np
import pandas as pd
import optimize_parameters as opt
from multiprocessing.pool import Pool
from nmf_connected_components import nmf_connected_components
import bam2counts

In [2]:
input_dir = '/big/work/metadevol/cami2_datasets/marine/bowtie_bamfiles/tmp/'
# input_dir = '/big/work/metadevol/benchmark_dataset1/bamfiles/tmp/'
working_dir = input_dir
s = time.time()
print(working_dir)


""" obtain read counts """
# calcreadcounts(input_dir, working_dir, args.minlength)

""" clustering parameters (default) """
d0 = 1.0
d1 = d0
min_shared_contigs = 20

""" load contig read counts """
contigs = pd.read_csv(working_dir + 'contigs_labels', header=None, sep=' ').to_numpy()
contig_names = contigs[:,1]
contig_length = contigs[:,2].astype(int)
# contig_length = pd.read_csv(working_dir + '../../contigs_umap_hoverdata1', header=None, usecols=[3],sep=' ')
# contig_length = contig_length.to_numpy().ravel()
fractional_counts = pd.read_csv(working_dir + "total_count", header=None,sep=' ', engine="pyarrow")
read_counts = fractional_counts.pivot_table(index = 1, columns = 0, values = 2)
# read_counts = pd.read_pickle(working_dir + 'X_pickle')
del(fractional_counts)


read_counts = read_counts.to_numpy(dtype=np.float32).T
total_contigs, n_size = np.shape(read_counts)

# Rc_reads = np.sum(read_counts, axis=1, keepdims=True)

R_max = 1e5
# read_counts_scaled = np.multiply(read_counts, R_max/(R_max + Rc_reads))
Rc_reads = read_counts.sum(axis=1)
Rn_reads = read_counts.sum(axis=0)

ss = time.time()
dirichlet_prior = opt.optimize_alpha(read_counts, Rc_reads, Rn_reads, n_size)
print('obtained alpha parameter for read counts', dirichlet_prior, 'in' ,time.time()-ss,'seconds')
ss = time.time()
dirichlet_prior_persamples  = dirichlet_prior * Rn_reads / Rn_reads.sum()

/big/work/metadevol/cami2_datasets/marine/bowtie_bamfiles/tmp/
obtained alpha parameter for read counts 15.048948919327755 in 10.649330615997314 seconds

In [3]:
contig_labels = pd.read_csv(working_dir + 'examine_cluster', header=None, sep=' ')

sp80_inds = pd.read_csv(working_dir + '80sp_singlecentroid_inds', header=None, sep=' ')

In [5]:
contig_labels.iloc[sp80_inds[0]]

             0         1           2       3       4         5
16          16       400      S0C400      16   12181     Otu20
38          38       853      S0C853      38    6311  Otu506.0
41          41       912      S0C912      41    2045   Otu1065
62          62      1371     S0C1371      62    1923     Otu20
91          91      1940     S0C1940      91    2580   Otu1475
...        ...       ...         ...     ...     ...       ...
701919  701919  18055002  S9C1585232  701919   29289    Otu160
701949  701949  18055666  S9C1585896  701949    2140  Otu497.1
701985  701985  18056488  S9C1586718  701985  149224     Otu10
701997  701997  18056718  S9C1586948  701997    9884  Otu214.0
702027  702027  18057387  S9C1587617  702027    1656  Otu214.0

[25168 rows x 6 columns]

In [27]:
sp80_inds[0]

0            16
1            38
2            41
3            62
4            91
          ...
25163    701919
25164    701949
25165    701985
25166    701997
25167    702027
Name: 0, Length: 25168, dtype: int64

In [9]:
oldclust_clusterid = pd.read_csv(working_dir + 'cluster_assigned_testforold', header=None, sep=' ')
oldclust_componentid = pd.read_csv(working_dir + 'components_onlyreads_testforold', header=None,sep=' ')
oldclust_clusterid

           0   1
0          0   5
1          1  23
2          2  95
3          3   5
4          4  29
...      ...  ..
25163  25163  11
25164  25164  21
25165  25165  14
25166  25166  20
25167  25167  20

[25168 rows x 2 columns]

In [20]:
cluster_component_id = oldclust_clusterid.merge(oldclust_componentid, left_on=1,right_on=0).sort_values('0_x')[['0_x',1,'1_y']].reset_index()

In [24]:
cluster_component_id = cluster_component_id[['0_x',1,'1_y']]

In [25]:
cluster_component_id.columns = ["centroid_id","cluster_id","component_id"]

In [41]:
sp80_contig_labels = contig_labels.iloc[sp80_inds[0]]

In [33]:
sp80_contig_labels.join(cluster_component_id)

,0,1,2,3,4,5,centroid_id,cluster_id,component_id
16,16,400,S0C400,16,12181,Otu20,16.0,36.0,0.0
38,38,853,S0C853,38,6311,Otu506.0,38.0,73.0,0.0
41,41,912,S0C912,41,2045,Otu1065,41.0,68.0,0.0
62,62,1371,S0C1371,62,1923,Otu20,62.0,15.0,0.0
91,91,1940,S0C1940,91,2580,Otu1475,91.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...
701919,701919,18055002,S9C1585232,701919,29289,Otu160,NaN,NaN,NaN
701949,701949,18055666,S9C1585896,701949,2140,Otu497.1,NaN,NaN,NaN
701985,701985,18056488,S9C1586718,701985,149224,Otu10,NaN,NaN,NaN
701997,701997,18056718,S9C1586948,701997,9884,Otu214.0,NaN,NaN,NaN
702027,702027,18057387,S9C1587617,702027,1656,Otu214.0,NaN,NaN,NaN

In [38]:
sp80_contig_labels['index'] = pd.DataFrame(np.arange(25168))

/tmp/ipykernel_300572/4266720247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp80_contig_labels['index'] = pd.DataFrame(np.arange(25168))

In [39]:
sp80_contig_labels

             0         1           2       3       4         5  index
16          16       400      S0C400      16   12181     Otu20   16.0
38          38       853      S0C853      38    6311  Otu506.0   38.0
41          41       912      S0C912      41    2045   Otu1065   41.0
62          62      1371     S0C1371      62    1923     Otu20   62.0
91          91      1940     S0C1940      91    2580   Otu1475   91.0
...        ...       ...         ...     ...     ...       ...    ...
701919  701919  18055002  S9C1585232  701919   29289    Otu160    NaN
701949  701949  18055666  S9C1585896  701949    2140  Otu497.1    NaN
701985  701985  18056488  S9C1586718  701985  149224     Otu10    NaN
701997  701997  18056718  S9C1586948  701997    9884  Otu214.0    NaN
702027  702027  18057387  S9C1587617  702027    1656  Otu214.0    NaN

[25168 rows x 7 columns]

In [45]:
sp80_cluster_details = sp80_contig_labels.reset_index().merge(cluster_component_id, left_index=True, right_index=True)[['index',4,5,'centroid_id','cluster_id','component_id']]

In [50]:
sp80_cluster_details.groupby(5)['centroid_id'].nunique().sort_values()

5
Otu2453        1
Otu1871        1
Otu2304        1
Otu2279        1
Otu2278        1
            ...
Otu222.0    1559
Otu12.0     1650
Otu20       1737
Otu76.0     2266
Otu214.0    3520
Name: centroid_id, Length: 80, dtype: int64

In [59]:
contig_labels[contig_labels[4]>1000000].groupby(5)[5].nunique()

5
Otu11       1
Otu119.0    1
Otu12.0     1
Otu13.0     1
Otu133.0    1
Otu1337     1
Otu137.0    1
Otu160      1
Otu186.0    1
Otu2.0      1
Otu20       1
Otu211      1
Otu23       1
Otu235.0    1
Otu24.0     1
Otu255      1
Otu26.0     1
Otu274.0    1
Otu3.1      1
Otu30.0     1
Otu345.0    1
Otu36.0     1
Otu37.0     1
Otu4.0      1
Otu40.0     1
Otu47.0     1
Otu48.0     1
Otu50.0     1
Otu53.0     1
Otu60.0     1
Otu61.0     1
Otu64.0     1
Otu67.0     1
Otu70.0     1
Otu72.0     1
Otu75.0     1
Otu82       1
Otu9        1
Otu93       1
Otu99.0     1
Name: 5, dtype: int64

In [51]:
sp80_cluster_details.groupby(5)['cluster_id'].nunique().sort_values()

5
Otu10        1
Otu2278      1
Otu2453      1
Otu26.0      1
Otu20        1
            ..
Otu1665     21
Otu1326     23
Otu1065     24
Otu954      24
Otu222.0    62
Name: cluster_id, Length: 80, dtype: int64